{% extends 'rango/base.html' %}

{% block content %}


   

<table class="table table-bordered table-hover table-condensed ">
		


        <thead>
        	 <tr>
          		<th data-field="id">Numero OS</th>
           		<th data-field="data_abertura">Data Abertura</th>
           		<th data-field="nome">Nome Cliente</th>
                <th data-field="situacao">Situação</th>
                <th data-field="data_fechamento">Fechamento</th>
                <th data-field="opcao">Opções</th>

        	</tr>
    	</thead>
    	<tbody>

       
            {% for servico in context %}
    			<tr id="tr_id_1" class="tr-class-1">
    				<td>{{ servico.id }}</td>
    				<td>{{ servico.data_abertura | date:'d/m/Y' }}</td>
    				<td>{{ servico.cliente }}</td>
                    <td>{{ servico.situacao }}</td>
                    <td>{{ servico.data_fechamento | date:'d/m/Y' }}</td>                
                    <td>
                        <div class="btn-group" role="group" >
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-wrench"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'rango:editar_servico' servico.id %}">Editar</a></li>
                            <li><a href="#">Concluir</span></a></li>
                        </ul>
                        </div>
                    </td>


    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
    	

       <!-- {% for servico in context %}
        	<p>{{ servico.data_abertura }} - {{ servico.numero_os }} - {{ servico.cliente }} </p>
        {% endfor %} -->


{% endblock %}




